.home-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: var(--card-background);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;

}

.home-header h1 {
  color: var(--text-color);
}

.home-header p {
  color: var(--text-color);
}

.stats-controls select,
.stats-controls button {
  background-color: var(--background-color);
}

.stats-controls button {
  background-color: var(--button-bg-color);
  color: #fff;
}

.stats-controls button:hover {
  background-color: var(--button-hover-color);
}

.stat-item {
  background: var(--card-background);
  box-shadow: 0 2px 8px var(--shadow-color);
  color: var(--text-color);
}
