/* TransactionForm.css */
.transaction-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-form h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
  font-family: "Arial", sans-serif;
}

.transaction-form .form-group {
  margin-bottom: 20px;
}

.transaction-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.transaction-form input,
.transaction-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza totale */
}

.transaction-form input[type="number"] {
  -moz-appearance: textfield; /* Rimuove le frecce degli spinner */
}

.transaction-form input[type="date"] {
  cursor: pointer;
}

.transaction-form .required {
  color: #e53935; /* Rosso per i campi obbligatori */
  font-weight: 400;
}

.transaction-form .required::after {
  content: "*";
  color: #e53935;
  margin-left: 5px;
}

.transaction-form .submit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.transaction-form .submit-button:hover {
  background-color: #45a049;
}

.transaction-form .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  min-height: 100px; /* Altezza minima per il campo textarea */
}

@media (max-width: 600px) {
  .transaction-form {
    padding: 15px;
  }

  .transaction-form input,
  .transaction-form select,
  .transaction-form textarea {
    font-size: 0.9rem;
  }
}
