/* Variabili di colore generali per il tema chiaro */
:root {
  --background-color: #f0f0f0; /* Sfondo principale */
  --text-color: #333333; /* Colore del testo primario */
  --primary-color: #007bff; /* Colore primario per pulsanti e titoli */
  --secondary-color: #0056b3; /* Colore secondario per hover e stati attivi */
  --card-background: #ffffff; /* Sfondo dei card e modali */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Colore dell'ombra */
  --button-bg-color: #007bff; /* Sfondo dei pulsanti */
}

/* Variabili di colore per il tema scuro */
.dark-theme {
  --background-color: #1f1f1f; /* Sfondo principale per il tema scuro */
  --text-color: #e0e0e0; /* Colore del testo primario in tema scuro */
  --primary-color: #1a73e8; /* Colore primario in tema scuro */
  --secondary-color: #255adb; /* Colore secondario in tema scuro */
  --card-background: #33333385; /* Sfondo dei card e modali in tema scuro */
  --shadow-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Colore dell'ombra in tema scuro */
  --button-bg-color: #3b83f6; /* Colore di sfondo dei pulsanti in tema scuro */
}

/* Stili generali per l'intera applicazione */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transizione per il cambio tema */
}

/* Contenitore principale */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Rimuove lo sfondo dall'elemento selezionato */
.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: transparent !important;
}

/* Rimuove la linea blu sotto l'elemento al passaggio del mouse (hover) */
.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-horizontal > .ant-menu-item-active::after,
.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: none !important;
}
