.transaction-list {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e; /* Colore di sfondo scuro per modalità dark */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #e0e0e0; /* Colore chiaro per il testo */
}

.transaction-list h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.transaction-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.transaction-card {
  flex: 1 1 calc(100% - 30px);
  max-width: calc(100% - 30px);
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: #e0e0e0;
  transition: transform 0.3s ease;
}

.transaction-card:hover {
  transform: translateY(-3px);
}

.transaction-card h4 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #ffdd57; /* Colore per la data */
}

.transaction-card p {
  margin: 5px 0;
  font-size: 1rem;
}

.transaction-card p strong {
  color: #ffdd57; /* Colore dorato per i titoli */
}

.transaction-card p span {
  color: #e0e0e0;
}

/* Colorazione per i tipi di transazione */
.transaction-card .expense {
  color: #f87171; /* Rosso per spese */
}

.transaction-card .income {
  color: #4ade80; /* Verde per entrate */
}

/* Stile per messaggi di errore e nessuna transazione */
.no-transactions-message,
.error-message {
  color: #ff5c5c;
  font-size: 1rem;
  text-align: center;
}
.no-transactions-message a {
  color: #ff5c5c;
  text-decoration: underline;
}

/* Media query per schermi più grandi */
@media (min-width: 768px) {
  .transaction-card {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (min-width: 992px) {
  .transaction-card {
    flex: 1 1 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
  }
}

@media (min-width: 1200px) {
  .transaction-card {
    flex: 1 1 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }
}
